/* Challenge

   Make the navigation layout work
   on both mobile and large screens.

   Mobile-first, so mobile styles first,
   then add the large screen styles
   inside the existing media query

*/

*, *::before, *::after {
    box-sizing: border-box;
}
p {
    width: clamp(45ch, 50%, 75ch);
  }
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body > *{
    padding-left: 5%;
    padding-right: 5%;
}
header{
    background-color: #2E323F;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 18px;
}
.logo{
    margin-right: auto;
}
.wrapper{
    display: contents;
}
.nav__list{
    display: flex;
}
li{
    list-style: none;
}
.nav__link{
    text-decoration: none;
    color: #d3d3d3;
}
.top, footer{
    background-color: #3B4050;
}
.top{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px,1fr));
}
.top h1{
    font-size: 90px;
    color: #A59678;
}
.area p{
    font-family: 'Montserrat',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #d3d3d3;
}
.area-button{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Oswald', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 span{
    color: #ffffff
}
.principles{
    display: flex;
    flex-wrap: wrap;
    background-color: #d3d3d3;
}
.principle{
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.principle h2, .step h2{
    color: #A59678;
    font-size: 30px;
}
.principle p{
    font-size: 18px;
    color: #2E323F;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.story h1{
    font-size: 36px;
    color: #A59678;
}
.story p{
    font-family: 'Montserrat',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    color: #2E323F
}
.step{
    background-color: #3B4050;
}
.step p{
    font-size: 18px;
    font-family: 'Monteserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #d3d3d3;
}
footer h1{
    font-size: 50px;
    color: #fff;
}
.footer-bottom{
    display: grid;
    grid-template-columns: repeat(auto-fit(640px,1fr));
}
.about h4, .footer-nav-list p{
    font-size: 21px;
    color: #A59678;
}
.about p,  .footer-list-items li{
    font-size: 18px;
    color: #d3d3d3;
    font-family: 'Monteserrat',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button{
    background-color: #A59678;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}
/*Kevin powell code*/
.container{
    position: relative;
}
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: #ffffff;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}
.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}
.hamburger {
    width: 50%;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}
.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}
.hamburger::before {
    transform: translateY(-6px);
}
.hamburger::after {
    transform: translateY(3px);
}
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}
.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
    width: 100%;
} 
.logo {
    height: 30px;
}

@media (min-width: 700px){
    /* .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        justify-content: flex-end;
    } */
}
@media (min-width: 1100px){

}